doctype html
html(lang='en')
  head
    title Invitation to cooperate
    style
      include style.css
  body
    div.container
      p You are invited to TTKT.
      a(href = `${registerUrl}`) Click here to register an account.
